<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    <span ng-bind-html="alert.msg"></span>
</alert>

<div>
    <h3>Welcome in the bootstrap gui microservice</h3>

    <p class="lead">

    <h4>Apply for a loan</h4>

    <form role="form" ng-submit="applyForLoan()">
        <div class="form-group">
            <label for="fName">Name</label>
            <input type="text" class="form-control" id="fName" placeholder="First Name" ng-model="user.fName" required>
        </div>
        <div class="form-group">
            <label for="lName">Surname</label>
            <input type="text" class="form-control" id="lName" placeholder="Last Name" ng-model="user.lName" required>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" class="form-control" id="age" placeholder="Age" ng-model="user.age" required>
        </div>
        <div class="form-group">
            <label for="position">Job Position</label>
            <input type="text" class="form-control" id="position" placeholder="Job Position" ng-model="user.position"
                   required>
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount" placeholder="Amount" ng-model="user.amount" required>
        </div>
        <button type="submit" class="btn btn-default">Apply</button>
    </form>

    <hr/>

    <h4>Loan Application Decisions</h4>

    <table class="table">
        <thead>
        <tr>
            <td>Loan ID</td>
            <td>Decision</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="decision in decisions">
            <td>{{decision.loanId}}</td>
            <td>{{decision.decision || 'Not Available'}}</td>
        </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-default" ng-click="getDecisions()">Refresh</button>

</div>