<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    <span ng-bind-html="alert.msg"></span>
</alert>

<div>
    <h3>Welcome in the bootstrap gui microservice</h3>

    <p class="lead">

    <h4>Loan Application Form</h4>

    <form role="form">
        <div class="form-group">
            <label for="fName">Name</label>
            <input type="text" class="form-control" id="fName" placeholder="First Name" ng-model="user.fName">
        </div>
        <div class="form-group">
            <label for="lName">Surname</label>
            <input type="text" class="form-control" id="lName" placeholder="Last Name" ng-model="user.lName">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" placeholder="Age" ng-model="user.age">
        </div>
        <div class="form-group">
            <label for="position">Job Position</label>
            <input type="text" class="form-control" id="position" placeholder="Job Position" ng-model="user.position">
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" id="amount" placeholder="Amount" ng-model="user.amount">
        </div>
        <button type="button" class="btn btn-default" ng-click="applyForLoan()">Apply</button>
    </form>

    <hr/>

</div>